a.rweb-in-fnft {
	--rweb-exists-color: red;
}
a.rweb-in-fnft.rweb-exists {
	--rweb-exists-color: green;
}

/* latest releases */
body.rweb-releases a.rweb-in-fnft h2 {
	color: var(--rweb-exists-color);
}

/* bookmarks */
body.rweb-bookmarks a.rweb-in-fnft {
	color: var(--rweb-exists-color);
	margin-left: 0.5em;
}
body.rweb-bookmarks a.rweb-in-fnft::after {
	content: " (FNFT)";
}

/* scraper */
.rweb-fetcher,
.rweb-adder {
	position: fixed;
	top: 10px;
	left: 64%;
	transform: translate(-50%, 0);
	z-index: 9876;
	padding: 8px 20px;
	font-weight: bold;
	font-size: 24px;
	color: green;
}
body.lg-on .rweb-fetcher,
body.lg-on .rweb-adder {
	z-index: 0;
}
.rweb-fetcher.error {
	color: red;
}

.rweb-adder {
	left: 60%;
}
